%section.white
  .row.work
    %h4 Services
    .large-12.columns
      %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3.bullet-point
        %li#services
          %h4.text-center Design
          = image_tag "paint.png"
          %p.indent A well made online presence offers a great first impression to prospective clients and customers. We help your brand look its best online by providing a wide range of services including web design, content management and logo creation.
        %li
          %h4.text-center Custom Applications
          = image_tag "data.png"
          %p.indent Building and owning custom software adds immense value to an organization. It can also present many challenges. Whether you are building a new application or are performing maintenance on an existing one, we're here to help. Let us take care of the hard stuff and leverage technology to keep you profitable.
        %li
          %h4.text-center Training and Consulting
          = image_tag "hat.png"
          %p.indent Making the switch to Ruby on Rails and other open source technologies is a growing trend in the IT industry. We offer consulting and training services to help make the transition as simple as possible.
      %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2.bullet-point
        %li
          %h4.text-center Payment Processing
          = image_tag "coin.png"
          %p.indent Increase your cash flow by moving your payments and invoices online. There are a variety of secure and affordable solutions available.
        %li
          %h4.text-center Telephony
          = image_tag "phone.png"
          %p.indent Take advantage of text messaging (SMS) and telephony systems to automate your business processes. Streamlining your telephone and text messaging concerns into an application helps increase efficiency, decrease customer wait times and frees employees to focus on critical tasks.
.team
  .row
    #team.large-12.small-12.columns.our-team
      %h4 Meet the Team
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      %li
        = image_tag 'rick.png'
        %h4 Rick Carlino
        %p Rick Carlino has worked in tech for his entire career. From his early days in military telecommunication networks to his current work in web application development, he has a well rounded skill set resulting from past exposure to payment processing, telecommunications, and Linux system administration.
        %p
          He has a strong interest in the open source community and contributes to open source software on an almost daily basis. Outside of work, he is involved as a core contributor to the
          %a{:href => "http://go.farmbot.it"} Farmbot
          and
          %a{:href => "https://openfarm.cc"} Openfarm
          projects.
        %p Rick has experience working with Ruby (and Ruby on Rails), Coffeescript, Javascript, AngularJS, NodeJS, Linux and a slew of other modern web technologies.
      %li
        = image_tag 'jason-1.png'
        %h4 Jason Goldberger
        %p Like Rick, Jason began his early career in tech within the telecommunications field as a satellite operator. He later moved into the fields of genomic analysis and bioinformatics and ultimately found his interest in commercial web application development.
        %p As a web application developer, Jason has experience with languages such as Python, Elixir, Javascript, and Ruby and has worked with tools such as AngularJS and the Flask framework. He is also extremely knowledgeable in regards to the PostgreSQL database.
%section.white
  .row.about
    #about.medium-6.large-12.columns
      %h4 About Us
      %p DataMelon is an Arizona based software and IT consultancy co-founded by Jason Goldberger and Rick Carlino. They provide a variety of software services catering to the needs of small and medium sized businesses. DataMelon focuses extensively on open source tools such as Ruby and Linux, as well as PostgreSQL, MongoDB and AngularJS.
  .row.contact.contact-us
    #contact.large-12.columns
      %h4 Let's Talk!
      %p Have questions? Contact us below and we will get back to you as soon as possible.
      %p We look forward to helping you meet your software goals.
      %ul.button-group.round
        %li
          %a.button{:href => "mailto:team@datamelon.io?subject=General Inquiry"} General Inquiries
        %li
          %a.button{:href => "mailto:team@datamelon.io?subject=Price Quote"} Request a Price Quote
      %p
        Reach us
        %strong by phone at 623-414-8346
        or
        = succeed "." do
          %strong
            by email via
            %a{:href => "mailto:team@datamelon.io"} team@datamelon.io
